!!!
%html
%body
  .chat
    .chat-side-bar
      .chat-side-bar__header
        .chat-side-bar__header__contents
          .chat-side-bar__header__contents__name takao toriyama
          %li.chat-side-bar__header__contents__new-group
            = link_to "/groups/new" do
              %i.fa.fa-pencil-square-o.icon
          %li.chat-side-bar__header__contents__edit
            = link_to "/users/0/edit" do
              %i.fa.fa-cog.icon
      .chat-side-bar__groups
        .chat-side-bar__groups-lists
          .chat-side-bar__group name

    .chat-main
      .chat-main__header
        .chat-main__header__group.clearfix
          .chat-main__header__group-name Test
          %a.chat-main__header__group-edit{:href => "/groups/4392/edit"} edit
        .chat-main__header__members
          %li.member Member: Toriyama Takao
      .chat-main__body
        .chat-main__body__messages
          .chat-main__body__messages__1
            .chat-main__body__messages__1-name toriyama takao
            .chat-main__body__messages__1-time 2017/09/05 20:52:52
            .chat-main__body__messages__1-body hoge
      .chat-main__footer
        %form#new_message.chat-main__footer-form
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "P6CIHc51pIrfwCn8ZlizaLL+7+4t6EQx3q3aDIGfMN9rtSC47VH8kJZJEVnHJPMUgjuBWewie17QFo/UtKEAyg=="}/
          .chat-main__footer-body
            %input#message_body.message{:name => "message[body]", :placeholder => "type a message", :type => "text"}/
            %label.chat-file{:for => "message_image"}
              %input#message_image.image{:name => "message[image]", :type => "file"}/
              %i.fa.fa-image
            %input.submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
