html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  body{
    height: 100%;

    .chat{
      height: 100%;
      width: 100%;

      .chat-side-bar{
        height: 100%;
        width: 300px;
        float: left;

        &__header{
          height: 15%;
          width: 100%;
          background-color: #253141;
          position: relative;

          &__contents{
            height: 50px;
            width: 100%;
            line-height: 50px;
            margin: auto 0;
            position: absolute;
            top: 0;
            bottom: 0;

            &__name{
              color: rgb(255, 255, 255);
              font-size: 20px;
              font-weight: bold;
              position: relative;
              display: inline-block;
              margin: 0px 20px;
            }

            &__new-group{
              color: rgb(255, 255, 255);
              margin-left: 90px;
              position: relative;
              display: inline-block;
            }

            &__edit{
              color: rgb(255, 255, 255);
              position: relative;
              display: inline-block;
            }
          }
        }

        &__groups{
          height: 85%;
          width: 100%;
          background-color: #2f3e51;

          &-lists{
            height: 100%;
            color: rgb(255, 255, 255);
          }
        }

        &__group{
          padding: 20px;
        }
      }

      .chat-main{
        height: 100vh;
        width: calc( 100vw - 300px );
        float: left;

        &__header{
          height: 15%;

          &__group{
            margin: 0 40px;

            &-name{
              color: #333;
              font-size: 20px;
              margin: 35px 0 15px;
              float: left;
            }

            &-edit{
              color: #38AEF0;
              font-size: 15px;
              padding: 12.5px 20px;
              margin: 28px 20px 0;
              border: 1px solid #38AEF0;
              float: right;
            }
          }

          &__members{
            color: #999;
            font-size: 12px;
            margin: 0 40px;
            float: left;
          }
        }

        &__body{
        height: calc( 100% - 15% - 90px );

          &__messages{
            padding-top: 26px;
            padding-left: 40px;

            &__1{
              padding: 20px 0;

              &-name{
                color: #434A54;
                font-size: 16px;
                font-weight: bold;
                float: left;
              }

              &-time{
                color: #999;
                font-size: 12px;
                padding: 0 10px 10px;
                float: left;
              }

              &-body{
                color: #434A54;
                clear: both;
              }
            }
          }
        }

        &__footer{
          height: 90px;
          width: 100%;
          background-color: #B8C3C7;

          &-form{
            margin: 0 40px;
            position: relative;
          }

          &-body{
            margin: 0 atuo;
            position: relative;

            .message{
              height: 50px;
              width: calc( 100% - 130px );
              // padding: 5px 0px;
              margin: 20px 0;
              border: none;
            }
          }
        }
      }
    }

    .submit{
      color: #fff;
      width: 100px;
      height: 50px;
      text-align: center;
      background-color: #38AEF0;
      margin: 20px 0;
      position: absolute;
      top: 0;
      right: 0;
      border: none;
    }

    .chat-file{
      height: 50px;
      width: 40px;
      margin: 32px 130px 20px 0;
      position: absolute;
      top: 0;
      right: 0;

      .image{
        position: absolute;
        top: 15px;
        left: 15px;
        display: none;
      }
    }

  }
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

    // .notice {
    //   background-color: #38AEF0;
    //   height: 22px;
    //   list-style: none;
    //   line-height: 22px;
    //   text-align: center;
    //   color: #FFFFFF;
    // }

  // .notification
  //   -# .notice アカウントが登録されました。
